In [33]:
# Basic imports
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [34]:
data = pd.read_excel('macro_economic.xlsx')
data.head(5)

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550
1,2009 - Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100
2,2009 - Mar,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650
3,2009 - Apr,14326.815525,14351.601731,235.582,Democrats,9.0,12.97,11.05,22.13,214,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225
4,2009 - May,14345.904809,14368.123959,235.975,Democrats,9.4,13.32,11.25,22.04,?,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300

In [35]:
data.shape

(96, 18)

In [36]:
train = pd.read_csv('train.csv')
train.head()

   Year  Month ProductCategory  Sales(In ThousandDollars)
0  2009      1   WomenClothing                     1755.0
1  2009      1     MenClothing                      524.0
2  2009      1   OtherClothing                      936.0
3  2009      2   WomenClothing                     1729.0
4  2009      2     MenClothing                      496.0

In [37]:
train.shape

(216, 4)

In [38]:
test = pd.read_csv('test.csv')
test.head()

   Year  Month ProductCategory  Sales(In ThousandDollars)
0  2015      1   WomenClothing                        NaN
1  2015      1     MenClothing                        NaN
2  2015      1   OtherClothing                        NaN
3  2015      2   WomenClothing                        NaN
4  2015      2     MenClothing                        NaN

In [39]:
# Appending train and test data one over the other
df = train.append(test).reset_index(drop=True)
df.head(10)

   Year  Month ProductCategory  Sales(In ThousandDollars)
0  2009      1   WomenClothing                     1755.0
1  2009      1     MenClothing                      524.0
2  2009      1   OtherClothing                      936.0
3  2009      2   WomenClothing                     1729.0
4  2009      2     MenClothing                      496.0
5  2009      2   OtherClothing                      859.0
6  2009      3   WomenClothing                     2256.0
7  2009      3     MenClothing                      542.0
8  2009      3   OtherClothing                      921.0
9  2009      4   WomenClothing                     2662.0

In [40]:
# Removing 2016 data from econ_data as train and test doesn't have 2016 data
econ_2015 = data[:84]
econ_2015.head(10)

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550
1,2009 - Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100
2,2009 - Mar,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650
3,2009 - Apr,14326.815525,14351.601731,235.582,Democrats,9.0,12.97,11.05,22.13,214,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225
4,2009 - May,14345.904809,14368.123959,235.975,Democrats,9.4,13.32,11.25,22.04,?,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300
5,2009 - Jun,14348.530666,14346.820106,237.172,Democrats,9.5,13.32,11.25,21.96,?,61.39,-0.90,8.668,7.760,796,12.876,3.47,10.300
6,2009 - Jul,14317.372922,14345.676097,237.600,Democrats,9.5,13.32,11.25,22.00,?,64.80,5.55,8.905,7.753,796,12.863,3.47,9.700
7,2009 - Aug,14424.284901,14435.812509,238.282,Democrats,9.6,13.71,10.89,22.16,?,64.26,-0.83,8.905,7.619,809,12.840,3.47,9.700
8,2009 - Sep,14410.777177,14425.972752,238.568,Democrats,9.8,13.71,10.89,22.20,?,64.07,-0.30,8.989,7.582,827,13.071,3.47,10.000
9,2009 - Oct,14596.605447,14595.393094,238.380,Democrats,10.0,13.71,10.89,22.27,?,66.82,4.29,8.989,7.586,799,12.631,3.37,10.000

In [41]:
# copy each row in econ_data thrice so as to match (train + test) data
econ_data_copy = pd.DataFrame(np.repeat(econ_2015.values,3,axis=0))
econ_data_copy.head(4)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,2009 - Jan,14421.8,14407.1,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.7,4.02,9.296,7.559,799,12.589,4.17,11.55
1,2009 - Jan,14421.8,14407.1,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.7,4.02,9.296,7.559,799,12.589,4.17,11.55
2,2009 - Jan,14421.8,14407.1,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.7,4.02,9.296,7.559,799,12.589,4.17,11.55
3,2009 - Feb,14389.2,14366.2,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.1

### Null values check on econ_data:

In [42]:
# Checking dataset if there are any null values present
econ_data_copy.isnull().values.any()

False

But the econ_data has columns with special values like '?', which has to be addressed.

In [43]:
# Concatenating (train + test data modified) and econ_data
df_final = pd.concat([df, econ_data_copy], axis=1)
df_final.head(10)

,Year,Month,ProductCategory,Sales(In ThousandDollars),0,1,2,3,4,5,...,8,9,10,11,12,13,14,15,16,17
0,2009,1,WomenClothing,1755.0,2009 - Jan,14421.8,14407.1,233.402,Democrats,7.8,...,22.05,137,57.7,4.02,9.296,7.559,799,12.589,4.17,11.55
1,2009,1,MenClothing,524.0,2009 - Jan,14421.8,14407.1,233.402,Democrats,7.8,...,22.05,137,57.7,4.02,9.296,7.559,799,12.589,4.17,11.55
2,2009,1,OtherClothing,936.0,2009 - Jan,14421.8,14407.1,233.402,Democrats,7.8,...,22.05,137,57.7,4.02,9.296,7.559,799,12.589,4.17,11.55
3,2009,2,WomenClothing,1729.0,2009 - Feb,14389.2,14366.2,234.663,Democrats,8.3,...,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.1
4,2009,2,MenClothing,496.0,2009 - Feb,14389.2,14366.2,234.663,Democrats,8.3,...,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.1
5,2009,2,OtherClothing,859.0,2009 - Feb,14389.2,14366.2,234.663,Democrats,8.3,...,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.1
6,2009,3,WomenClothing,2256.0,2009 - Mar,14340.7,14351.8,235.067,Democrats,8.7,...,22.22,?,51.5,-6.72,9.296,7.559,799,12.589,3.72,11.65
7,2009,3,MenClothing,542.0,2009 - Mar,14340.7,14351.8,235.067,Democrats,8.7,...,22.22,?,51.5,-6.72,9.296,7.559,799,12.589,3.72,11.65
8,2009,3,OtherClothing,921.0,2009 - Mar,14340.7,14351.8,235.067,Democrats,8.7,...,22.22,?,51.5,-6.72,9.296,7.559,799,12.589,3.72,11.65
9,2009,4,WomenClothing,2662.0,2009 - Apr,14326.8,14351.6,235.582,Democrats,9,...,22.13,214,56.78,10.25,9.296,7.559,787,12.4,3.62,12.225

In [44]:
# Adding appropriate column names to df_final
df_final.columns = list(df.columns) + list(econ_2015.columns)

In [45]:
# The final dataset to work with
df_final.T

,0,1,2,3,4,5,6,7,8,9,...,242,243,244,245,246,247,248,249,250,251
Year,2009,2009,2009,2009,2009,2009,2009,2009,2009,2009,...,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015
Month,1,1,1,2,2,2,3,3,3,4,...,9,10,10,10,11,11,11,12,12,12
ProductCategory,WomenClothing,MenClothing,OtherClothing,WomenClothing,MenClothing,OtherClothing,WomenClothing,MenClothing,OtherClothing,WomenClothing,...,OtherClothing,WomenClothing,MenClothing,OtherClothing,WomenClothing,MenClothing,OtherClothing,WomenClothing,MenClothing,OtherClothing
Sales(In ThousandDollars),1755,524,936,1729,496,859,2256,542,921,2662,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year-Month,2009 - Jan,2009 - Jan,2009 - Jan,2009 - Feb,2009 - Feb,2009 - Feb,2009 - Mar,2009 - Mar,2009 - Mar,2009 - Apr,...,2015 - Sep,2015 - Oct,2015 - Oct,2015 - Oct,2015 - Nov,2015 - Nov,2015 - Nov,2015 - Dec,2015 - Dec,2015 - Dec
Monthly Nominal GDP Index (inMillion$),14421.8,14421.8,14421.8,14389.2,14389.2,14389.2,14340.7,14340.7,14340.7,14326.8,...,18317.8,18278.3,18278.3,18278.3,18266.2,18266.2,18266.2,18317.1,18317.1,18317.1
Monthly Real GDP Index (inMillion$),14407.1,14407.1,14407.1,14366.2,14366.2,14366.2,14351.8,14351.8,14351.8,14351.6,...,16601.5,16540.9,16540.9,16540.9,16524.2,16524.2,16524.2,16578,16578,16578
CPI,233.402,233.402,233.402,234.663,234.663,234.663,235.067,235.067,235.067,235.582,...,261.887,261.515,261.515,261.515,261.009,261.009,261.009,259.941,259.941,259.941
PartyInPower,Democrats,Democrats,Democrats,Democrats,Democrats,Democrats,Democrats,Democrats,Democrats,Democrats,...,Democrats,Democrats,Democrats,Democrats,Democrats,Democrats,Democrats,Democrats,Democrats,Democrats
unemployment rate,7.8,7.8,7.8,8.3,8.3,8.3,8.7,8.7,8.7,9,...,5,5,5,5,5,5,5,5,5,5
CommercialBankInterestRateonCreditCardPlans,12.03,12.03,12.03,12.97,12.97,12.97,12.97,12.97,12.97,12.97,...,12.1,12.1,12.1,12.1,12.22,12.22,12.22,12.22,12.22,12.22
"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",11.44,11.44,11.44,11.05,11.05,11.05,11.05,11.05,11.05,11.05,...,9.8,9.8,9.8,9.8,9.66,9.66,9.66,9.66,9.66,9.66
Earnings or wages in dollars per hour,22.05,22.05,22.05,22.22,22.22,22.22,22.22,22.22,22.22,22.13,...,25.05,25.14,25.14,25.14,25.38,25.38,25.38,25.21,25.21,25.21
AdvertisingExpenses (in Thousand Dollars),137,137,137,200,200,200,?,?,?,214,...,?,183,183,183,?,?,?,?,?,?
Cotton Monthly Price - US cents per Pound(lbs),57.7,57.7,57.7,55.21,55.21,55.21,51.5,51.5,51.5,56.78,...,68.74,69.03,69.03,69.03,69.22,69.22,69.22,70.39,70.39,70.39
Change(in%),4.02,4.02,4.02,-4.32,-4.32,-4.32,-6.72,-6.72,-6.72,10.25,...,-4.29,0.42,0.42,0.42,0.28,0.28,0.28,1.69,1.69,1.69
Average upland planted(million acres),9.296,9.296,9.296,9.296,9.296,9.296,9.296,9.296,9.296,9.296,...,8.398,8.398,8.398,8.398,8.398,8.398,8.398,8.398,8.398,8.398
Average upland harvested(million acres),7.559,7.559,7.559,7.559,7.559,7.559,7.559,7.559,7.559,7.559,...,8.012,8.012,8.012,8.012,7.995,7.995,7.995,7.995,7.995,7.995
yieldperharvested acre,799,799,799,799,799,799,799,799,799,787,...,777,772,772,772,770,770,770,755,755,755
Production (in 480-lb netweright in million bales),12.589,12.589,12.589,12.589,12.589,12.589,12.589,12.589,12.589,12.4,...,12.977,12.887,12.887,12.887,12.83,12.83,12.83,12.58,12.58,12.58
Mill use (in 480-lb netweright in million bales),4.17,4.17,4.17,3.87,3.87,3.87,3.72,3.72,3.72,3.62,...,3.675,3.675,3.675,3.675,3.675,3.675,3.675,3.675,3.675,3.675
Exports,11.55,11.55,11.55,11.1,11.1,11.1,11.65,11.65,11.65,12.225,...,9.7,9.7,9.7,9.7,9.7,9.7,9.7,9.5,9.5,9.5

---
## Dropping Unnecessary Features:

In [46]:
# 1. Removing redundant 'Year-Month'  and   PartyInPower
df_final = df_final.drop('Year-Month', axis=1)

df_final['PartyInPower'].value_counts()

Democrats    252
Name: PartyInPower, dtype: int64

#### party power has only democrats as value

In [47]:
# 3. how many Advertising Expenses

econ_2015['AdvertisingExpenses (in Thousand Dollars)'][econ_2015['AdvertisingExpenses (in Thousand Dollars)'] == '?'].count()

73

In [48]:
df_final = df_final.drop(['PartyInPower', 'AdvertisingExpenses (in Thousand Dollars)'], axis = 1)

#### Since Advertising Expenses is '?' for 73 of the possible 84 values; we can safely eliminate this feature for now. 

---

## Exploratory Data Analysis on df_final:

In [49]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 19 columns):
Year                                                                 252 non-null int64
Month                                                                252 non-null int64
ProductCategory                                                      252 non-null object
Sales(In ThousandDollars)                                            204 non-null float64
Monthly Nominal GDP Index (inMillion$)                               252 non-null object
Monthly Real GDP Index (inMillion$)                                  252 non-null object
CPI                                                                  252 non-null object
unemployment rate                                                    252 non-null object
CommercialBankInterestRateonCreditCardPlans                          252 non-null object
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    252 non-null object
Earnings or wages  in dollars per hour                               252 non-null object
Cotton Monthly Price - US cents per Pound(lbs)                       252 non-null object
Change(in%)                                                          252 non-null object
Average upland planted(million acres)                                252 non-null object
Average upland harvested(million acres)                              252 non-null object
yieldperharvested acre                                               252 non-null object
Production (in  480-lb netweright in million bales)                  252 non-null object
Mill use  (in  480-lb netweright in million bales)                   252 non-null object
Exports                                                              252 non-null object
dtypes: float64(1), int64(2), object(16)
memory usage: 37.5+ KB

In [50]:
cols = list(df_final.columns)
cols.remove('ProductCategory')
cols.remove('Sales(In ThousandDollars)')
cols.remove('Year')
cols.remove('Month')
cols

['Monthly Nominal GDP Index (inMillion$)',
 'Monthly Real GDP Index (inMillion$)',
 'CPI',
 'unemployment rate',
 'CommercialBankInterestRateonCreditCardPlans',
 'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
 'Earnings or wages  in dollars per hour',
 'Cotton Monthly Price - US cents per Pound(lbs)',
 'Change(in%)',
 'Average upland planted(million acres)',
 'Average upland harvested(million acres)',
 'yieldperharvested acre',
 'Production (in  480-lb netweright in million bales)',
 'Mill use  (in  480-lb netweright in million bales)',
 'Exports']

In [51]:
for col in cols:
    df_final[col] = df_final[col].astype('float64')

In [52]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 19 columns):
Year                                                                 252 non-null int64
Month                                                                252 non-null int64
ProductCategory                                                      252 non-null object
Sales(In ThousandDollars)                                            204 non-null float64
Monthly Nominal GDP Index (inMillion$)                               252 non-null float64
Monthly Real GDP Index (inMillion$)                                  252 non-null float64
CPI                                                                  252 non-null float64
unemployment rate                                                    252 non-null float64
CommercialBankInterestRateonCreditCardPlans                          252 non-null float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    252 non-null float64
Earnings or wages  in dollars per hour                               252 non-null float64
Cotton Monthly Price - US cents per Pound(lbs)                       252 non-null float64
Change(in%)                                                          252 non-null float64
Average upland planted(million acres)                                252 non-null float64
Average upland harvested(million acres)                              252 non-null float64
yieldperharvested acre                                               252 non-null float64
Production (in  480-lb netweright in million bales)                  252 non-null float64
Mill use  (in  480-lb netweright in million bales)                   252 non-null float64
Exports                                                              252 non-null float64
dtypes: float64(16), int64(2), object(1)
memory usage: 37.5+ KB

In [53]:
df_final.describe(include='all')

,Year,Month,ProductCategory,Sales(In ThousandDollars),Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
count,252.00000,252.000000,252,204.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.00000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000
unique,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,WomenClothing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2012.00000,6.500000,NaN,1702.352941,16185.164250,15382.177925,250.802214,7.813095,12.546310,10.552976,23.528214,93.43750,0.548095,10.848500,8.872893,793.726190,14.707262,3.560548,11.184702
std,2.00398,3.458922,NaN,1253.333110,1248.741584,673.025737,8.822207,1.561701,0.764343,0.511963,0.961762,35.10199,7.231977,1.730857,1.142653,25.930501,2.039904,0.164942,1.741383
min,2009.00000,1.000000,NaN,471.000000,14317.372922,14345.676097,233.402000,5.000000,11.820000,9.570000,21.960000,51.50000,-23.590000,8.398000,7.345000,747.000000,11.751000,3.275000,9.220000
25%,2010.00000,3.750000,NaN,710.750000,15141.218900,14837.054004,241.797750,6.525000,11.947500,10.130000,22.667500,71.76000,-2.665000,9.296000,7.582000,774.000000,12.589000,3.380000,9.900000
50%,2012.00000,6.500000,NaN,1080.500000,16156.742054,15358.374219,252.529000,8.150000,12.100000,10.710000,23.500000,85.65000,0.190000,10.769000,9.173500,792.000000,14.959000,3.567500,10.637500
75%,2014.00000,9.250000,NaN,2750.750000,17134.548940,15848.863585,259.074250,9.100000,13.350000,10.940000,24.327500,94.70000,3.482500,12.077000,9.692000,807.000000,16.290750,3.675000,11.650000
max,2015.00000,12.000000,NaN,5664.000000,18317.816120,16601.489879,261.887000,10.000000,14.260000,11.440000,25.380000,229.67000,22.850000,14.431000,10.577000,869.000000,18.375000,4.170000,15.280000

In [54]:
df_final.corr()

,Year,Month,Sales(In ThousandDollars),Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
Year,1.000000,0.000000,0.203391,0.986147,0.979340,0.965777,-0.940634,-0.787955,-0.836450,0.987070,-0.167426,-0.213029,0.044275,0.021301,-0.057962,0.012657,0.254925,-0.465850
Month,0.000000,1.000000,0.148462,0.140884,0.147795,0.119351,-0.066047,-0.067021,-0.098576,0.082043,-0.114876,-0.054341,-0.031445,0.110976,-0.143586,0.066792,0.000796,-0.133520
Sales(In ThousandDollars),0.203391,0.148462,1.000000,0.225384,0.227035,0.209394,-0.201628,-0.166365,-0.150551,0.212916,0.009490,-0.054545,0.073188,0.059135,-0.033784,0.046881,0.027621,-0.071473
Monthly Nominal GDP Index (inMillion$),0.986147,0.140884,0.225384,1.000000,0.997417,0.959235,-0.956152,-0.783370,-0.835155,0.986787,-0.208562,-0.226574,0.019362,0.032540,-0.090667,0.015870,0.299169,-0.488749
Monthly Real GDP Index (inMillion$),0.979340,0.147795,0.227035,0.997417,1.000000,0.943493,-0.948336,-0.750267,-0.828176,0.982099,-0.203163,-0.214482,0.009822,0.049176,-0.104249,0.028663,0.298861,-0.471631
CPI,0.965777,0.119351,0.209394,0.959235,0.943493,1.000000,-0.878050,-0.850575,-0.807173,0.949390,-0.124470,-0.294738,0.177438,0.065272,-0.034133,0.057672,0.193833,-0.473436
unemployment rate,-0.940634,-0.066047,-0.201628,-0.956152,-0.948336,-0.878050,1.000000,0.787367,0.810887,-0.946724,0.338302,0.217833,0.114162,0.099836,0.096189,0.109757,-0.423596,0.552044
CommercialBankInterestRateonCreditCardPlans,-0.787955,-0.067021,-0.166365,-0.783370,-0.750267,-0.850575,0.787367,1.000000,0.630589,-0.772433,0.260326,0.347630,-0.327250,-0.030378,0.016207,-0.020746,-0.287147,0.507587
"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",-0.836450,-0.098576,-0.150551,-0.835155,-0.828176,-0.807173,0.810887,0.630589,1.000000,-0.841899,0.271466,0.058342,0.101536,0.172467,-0.052760,0.132691,-0.120945,0.441278
Earnings or wages in dollars per hour,0.987070,0.082043,0.212916,0.986787,0.982099,0.949390,-0.946724,-0.772433,-0.841899,1.000000,-0.190196,-0.179780,0.009455,0.001798,-0.100621,-0.016802,0.268760,-0.490970
Cotton Monthly Price - US cents per Pound(lbs),-0.167426,-0.114876,0.009490,-0.208562,-0.203163,-0.124470,0.338302,0.260326,0.271466,-0.190196,1.000000,0.135434,0.294267,0.519094,0.208716,0.532459,0.009362,0.715185
Change(in%),-0.213029,-0.054341,-0.054545,-0.226574,-0.214482,-0.294738,0.217833,0.347630,0.058342,-0.179780,0.135434,1.000000,-0.248174,0.012743,0.154055,0.045368,-0.285562,0.320149
Average upland planted(million acres),0.044275,-0.031445,0.073188,0.019362,0.009822,0.177438,0.114162,-0.327250,0.101536,0.009455,0.294267,-0.248174,1.000000,0.605732,-0.021148,0.549069,-0.054768,0.111429
Average upland harvested(million acres),0.021301,0.110976,0.059135,0.032540,0.049176,0.065272,0.099836,-0.030378,0.172467,0.001798,0.519094,0.012743,0.605732,1.000000,0.175572,0.967270,-0.020815,0.548366
yieldperharvested acre,-0.057962,-0.143586,-0.033784,-0.090667,-0.104249,-0.034133,0.096189,0.016207,-0.052760,-0.100621,0.208716,0.154055,-0.021148,0.175572,1.000000,0.404258,-0.077323,0.446370
Production (in 480-lb netweright in million bales),0.012657,0.066792,0.046881,0.015870,0.028663,0.057672,0.109757,-0.020746,0.132691,-0.016802,0.532459,0.045368,0.549069,0.967270,0.404258,1.000000,-0.025808,0.615462
Mill use (in 480-lb netweright in million bales),0.254925,0.000796,0.027621,0.299169,0.298861,0.193833,-0.423596,-0.287147,-0.120945,0.268760,0.009362,-0.285562,-0.054768,-0.020815,-0.077323,-0.025808,1.000000,-0.160367
Exports,-0.465850,-0.133520,-0.071473,-0.488749,-0.471631,-0.473436,0.552044,0.507587,0.441278,-0.490970,0.715185,0.320149,0.111429,0.548366,0.446370,0.615462,-0.160367,1.000000

### One-Hot Encoding ProductCategory

In [55]:
column = ['ProductCategory']

df_final = pd.get_dummies(data=df_final, prefix=None, columns=column, dtype='int', drop_first=True)

In [56]:
df_final.T

,0,1,2,3,4,5,6,7,8,9,...,242,243,244,245,246,247,248,249,250,251
Year,2009.000000,2009.000000,2009.000000,2009.000000,2009.000000,2009.000000,2009.000000,2009.000000,2009.000000,2009.000000,...,2015.000000,2015.000000,2015.000000,2015.000000,2015.000000,2015.000000,2015.000000,2015.000000,2015.000000,2015.000000
Month,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,4.000000,...,9.000000,10.000000,10.000000,10.000000,11.000000,11.000000,11.000000,12.000000,12.000000,12.000000
Sales(In ThousandDollars),1755.000000,524.000000,936.000000,1729.000000,496.000000,859.000000,2256.000000,542.000000,921.000000,2662.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Monthly Nominal GDP Index (inMillion$),14421.752895,14421.752895,14421.752895,14389.200466,14389.200466,14389.200466,14340.701639,14340.701639,14340.701639,14326.815525,...,18317.816120,18278.304270,18278.304270,18278.304270,18266.244605,18266.244605,18266.244605,18317.129125,18317.129125,18317.129125
Monthly Real GDP Index (inMillion$),14407.053343,14407.053343,14407.053343,14366.176571,14366.176571,14366.176571,14351.786822,14351.786822,14351.786822,14351.601731,...,16601.489879,16540.859723,16540.859723,16540.859723,16524.199494,16524.199494,16524.199494,16578.004544,16578.004544,16578.004544
CPI,233.402000,233.402000,233.402000,234.663000,234.663000,234.663000,235.067000,235.067000,235.067000,235.582000,...,261.887000,261.515000,261.515000,261.515000,261.009000,261.009000,261.009000,259.941000,259.941000,259.941000
unemployment rate,7.800000,7.800000,7.800000,8.300000,8.300000,8.300000,8.700000,8.700000,8.700000,9.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
CommercialBankInterestRateonCreditCardPlans,12.030000,12.030000,12.030000,12.970000,12.970000,12.970000,12.970000,12.970000,12.970000,12.970000,...,12.100000,12.100000,12.100000,12.100000,12.220000,12.220000,12.220000,12.220000,12.220000,12.220000
"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",11.440000,11.440000,11.440000,11.050000,11.050000,11.050000,11.050000,11.050000,11.050000,11.050000,...,9.800000,9.800000,9.800000,9.800000,9.660000,9.660000,9.660000,9.660000,9.660000,9.660000
Earnings or wages in dollars per hour,22.050000,22.050000,22.050000,22.220000,22.220000,22.220000,22.220000,22.220000,22.220000,22.130000,...,25.050000,25.140000,25.140000,25.140000,25.380000,25.380000,25.380000,25.210000,25.210000,25.210000
Cotton Monthly Price - US cents per Pound(lbs),57.700000,57.700000,57.700000,55.210000,55.210000,55.210000,51.500000,51.500000,51.500000,56.780000,...,68.740000,69.030000,69.030000,69.030000,69.220000,69.220000,69.220000,70.390000,70.390000,70.390000
Change(in%),4.020000,4.020000,4.020000,-4.320000,-4.320000,-4.320000,-6.720000,-6.720000,-6.720000,10.250000,...,-4.290000,0.420000,0.420000,0.420000,0.280000,0.280000,0.280000,1.690000,1.690000,1.690000
Average upland planted(million acres),9.296000,9.296000,9.296000,9.296000,9.296000,9.296000,9.296000,9.296000,9.296000,9.296000,...,8.398000,8.398000,8.398000,8.398000,8.398000,8.398000,8.398000,8.398000,8.398000,8.398000
Average upland harvested(million acres),7.559000,7.559000,7.559000,7.559000,7.559000,7.559000,7.559000,7.559000,7.559000,7.559000,...,8.012000,8.012000,8.012000,8.012000,7.995000,7.995000,7.995000,7.995000,7.995000,7.995000
yieldperharvested acre,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,799.000000,787.000000,...,777.000000,772.000000,772.000000,772.000000,770.000000,770.000000,770.000000,755.000000,755.000000,755.000000
Production (in 480-lb netweright in million bales),12.589000,12.589000,12.589000,12.589000,12.589000,12.589000,12.589000,12.589000,12.589000,12.400000,...,12.977000,12.887000,12.887000,12.887000,12.830000,12.830000,12.830000,12.580000,12.580000,12.580000
Mill use (in 480-lb netweright in million bales),4.170000,4.170000,4.170000,3.870000,3.870000,3.870000,3.720000,3.720000,3.720000,3.620000,...,3.675000,3.675000,3.675000,3.675000,3.675000,3.675000,3.675000,3.675000,3.675000,3.675000
Exports,11.550000,11.550000,11.550000,11.100000,11.100000,11.100000,11.650000,11.650000,11.650000,12.225000,...,9.700000,9.700000,9.700000,9.700000,9.700000,9.700000,9.700000,9.500000,9.500000,9.500000
ProductCategory_OtherClothing,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
ProductCategory_WomenClothing,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,...,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000

## Splitting df_final to train_final and test_final:

In [57]:
test_final = df_final[df_final['Year'] == 2015]
test_final.head(10)

,Year,Month,Sales(In ThousandDollars),Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,ProductCategory_OtherClothing,ProductCategory_WomenClothing
216,2015,1,NaN,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,67.35,-1.39,10.845,9.518,760.0,15.496,3.775,9.45,0,1
217,2015,1,NaN,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,67.35,-1.39,10.845,9.518,760.0,15.496,3.775,9.45,0,0
218,2015,1,NaN,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,67.35,-1.39,10.845,9.518,760.0,15.496,3.775,9.45,1,0
219,2015,2,NaN,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,69.84,3.70,10.845,9.518,781.0,15.496,3.625,10.20,0,1
220,2015,2,NaN,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,69.84,3.70,10.845,9.518,781.0,15.496,3.625,10.20,0,0
221,2015,2,NaN,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,69.84,3.70,10.845,9.518,781.0,15.496,3.625,10.20,1,0
222,2015,3,NaN,17900.981857,16329.523792,259.647,5.4,11.98,9.85,25.04,69.35,-0.70,10.845,9.518,781.0,15.496,3.625,10.25,0,1
223,2015,3,NaN,17900.981857,16329.523792,259.647,5.4,11.98,9.85,25.04,69.35,-0.70,10.845,9.518,781.0,15.496,3.625,10.25,0,0
224,2015,3,NaN,17900.981857,16329.523792,259.647,5.4,11.98,9.85,25.04,69.35,-0.70,10.845,9.518,781.0,15.496,3.625,10.25,1,0
225,2015,4,NaN,18015.748120,16427.136671,259.959,5.4,11.98,9.85,24.94,71.70,3.39,10.845,9.518,794.0,15.735,3.625,10.25,0,1

In [58]:
# Resetting index of test_final
test_final = test_final.reset_index(drop=True)
test_final = test_final.drop('Sales(In ThousandDollars)', axis=1)

In [59]:
test_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 19 columns):
Year                                                                 36 non-null int64
Month                                                                36 non-null int64
Monthly Nominal GDP Index (inMillion$)                               36 non-null float64
Monthly Real GDP Index (inMillion$)                                  36 non-null float64
CPI                                                                  36 non-null float64
unemployment rate                                                    36 non-null float64
CommercialBankInterestRateonCreditCardPlans                          36 non-null float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    36 non-null float64
Earnings or wages  in dollars per hour                               36 non-null float64
Cotton Monthly Price - US cents per Pound(lbs)                       36 non-null float64
Change(in%)                                                          36 non-null float64
Average upland planted(million acres)                                36 non-null float64
Average upland harvested(million acres)                              36 non-null float64
yieldperharvested acre                                               36 non-null float64
Production (in  480-lb netweright in million bales)                  36 non-null float64
Mill use  (in  480-lb netweright in million bales)                   36 non-null float64
Exports                                                              36 non-null float64
ProductCategory_OtherClothing                                        36 non-null int64
ProductCategory_WomenClothing                                        36 non-null int64
dtypes: float64(15), int64(4)
memory usage: 5.4 KB

In [60]:
train_final = df_final[:216]
train_final.head()

,Year,Month,Sales(In ThousandDollars),Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,ProductCategory_OtherClothing,ProductCategory_WomenClothing
0,2009,1,1755.0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799.0,12.589,4.17,11.55,0,1
1,2009,1,524.0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799.0,12.589,4.17,11.55,0,0
2,2009,1,936.0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799.0,12.589,4.17,11.55,1,0
3,2009,2,1729.0,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799.0,12.589,3.87,11.10,0,1
4,2009,2,496.0,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799.0,12.589,3.87,11.10,0,0

In [61]:
# Imputing missing values in sales in train data with median
train_final = train_final.fillna(train_final.median())
train_final.head()

,Year,Month,Sales(In ThousandDollars),Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,ProductCategory_OtherClothing,ProductCategory_WomenClothing
0,2009,1,1755.0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799.0,12.589,4.17,11.55,0,1
1,2009,1,524.0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799.0,12.589,4.17,11.55,0,0
2,2009,1,936.0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799.0,12.589,4.17,11.55,1,0
3,2009,2,1729.0,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799.0,12.589,3.87,11.10,0,1
4,2009,2,496.0,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799.0,12.589,3.87,11.10,0,0

In [ ]:
train_final.to_csv('train_final.csv')

In [37]:
test_final.to_csv('test_final.csv')